<aside style="margin-left: -10px;">
	<div class="container">
		<div class="row bg-light byoperateur_nav">
			<div class="col-2">
				<%= link_to "Tout","/byoperateur/autres/tout", class: "btn btn-primary btn-block"%>
			</div>
			<div class="col-2">
				<%= link_to "Aujourd'hui","/byoperateur/autres/aujourdhui", class: "btn btn-primary btn-block"%>
			</div>
			<div class="col-2">
				<%= link_to "Hier", "/byoperateur/autres/hier", class: "btn btn-primary btn-block"%>
			</div>
			<div class="col-2">
				<%= link_to "Avant Hier","/byoperateur/autres/avanthier", class: "btn btn-primary btn-block"%>
			</div>
			<div class="col-2">
				<%= link_to "Statistique","/statistique/tout", class: "btn btn-primary btn-block"%>
			</div>
			<div class="col-2">
				<%= link_to "here","/here/now", class: "btn btn-primary btn-block"%>
			</div>
		</div>
	</div>
</aside>
<style type="text/css">
	.byoperateur_nav .btn {
		width: 100%;
		height: 100%;
	}
</style>