<%= render 'dashboards/left_sidebar'%>
<div class="container top">
<table class="table table-striped">
  <thead class="bg-primary">
	<tr>
	  <th scope="col">Nom</th>
	  <th scope="col">Quartier</th>
	  <th scope="col">Numero</th>
	  <th scope="col">Reference</th>
	  <th scope="col">Brut</th>
	  <th scope="col">Net</th>
	  <th scope="col">Frais ops</th>
	  <th scope="col">Adds frais</th>
	</tr>
  </thead>
  <tbody>
	<%getTwoDaysAgo().each do |dash|%>
		<tr>
	      <td><%=dash.nom%></td>
	      <td><%=dash.cartier%></td>
	      <td><%=dash.numero%></td>
	      <td><%=dash.ref%></td>
	      <td><%=dash.brut%></td>
	      <td><%=dash.net%></td>
	      <td><%=dash.frais_operateur%></td>
	      <td><%=dash.autre_frais%></td>
	      <td><%= link_to "Show", :controller => "dashboards", :action => "show", :id => dash.id%></td>
	    </tr>
	<%end%>
  </tbody>
</table>
</div>