<p id="notice"><%= notice %></p>
<div class="container">
<div class="row">
	<div class="col"></div>
	<div class="col">
<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @contact.number %>
</p>

<p>
  <strong>Town:</strong>
  <%= @contact.town %>
</p>

<p>
  <strong>User:</strong>
  <%= @contact.user_id %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
</div>
<div class="col"></div>
</div>
</div>