<aside style="margin-left: -10px;">
	<div class="container">
		<div class="row bg-light">
			<div class="col-2">
				<%= link_to "Profile","/profile/show", class: "btn btn-default"%>
			</div>
			<div class="col-2">
				<%= link_to "New Dashboard","/dashboards/new", class: "btn btn-default"%>
			</div>
			<div class="col-2">
				<%= link_to "Dashboard", dashboards_path, class: "btn btn-default"%>
			</div>
			<div class="col-2">
				<%= link_to "By Operateur","/byoperateur", class: "btn btn-default"%>
			</div>
			<div class="col-2">
				<%= link_to "Statistique","/statistique", class: "btn btn-default"%>
			</div>
			<div class="col-2">
				<%= link_to "here","/here/now", class: "btn btn-default"%>
			</div>
		</div>
	</div>
</aside>